<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<div class="all">
    <div class="topNav">

        <ul class="navList" title="Navigation">
            <li><a href="/random">随机</a></li>
            <li><a href="/daily">每日</a></li>
            <li class="/weekly">每周</li>
            <li><a href="/monthly">每月</a></li>
            <li><a href="/hotTags">热门标签</a></li>
            <li><a href="/r18">让我康康!</a></li>
            <li class="searchLi">
                <form action="/search" class="searchForm">
                    <input id="searchBox" name="q" type="search" value="" placeholder="搜索关键字" aria-label="搜索">
                </form>
                <div class="aboutNyaxs">Nyaxs</div>
            </li>

        </ul>

    </div>

    <div class="content">

        <div class="pictureShow">
            <div class="pictureArea"><img width="706px" th:src="@{|${picture.id}.jpg|}" src=""/></div>
        </div>


        <div class="pictureInfo">
            <div>
                <ul class="picInfoList">
                    <li><a th:href="@{/welcome}" th:text="|作者名字:${author.name}|">userName</a></li>
                    <li><a th:href="@{/welcome}" th:text="|作者ID:${author.id}|">userId</a></li>
                    <li><a th:href="@{/welcome}" th:text="|标题:${picture.title}">pictureTitle</a></li>
                    <li><a th:href="@{/welcome}" th:text="|作品ID:${picture.id}|">pictureId</a></li>
                    <li><a th:href="@{/welcome}" th:text="|投稿时间:${picture.createdTime}|">pictureTime</a></li>
                    <li><a th:href="@{/welcome}" th:text="|赞:${stats.scoredCount}|">zanCount</a></li>
                    <li><a th:href="@{/welcome}" th:text="|收藏:${favoritedCount.jsonMemberPublic}|">favoriteCount</a>
                    </li>
                    <li><a th:href="@{/welcome}" th:text="|浏览:${stats.viewsCount}|">viewCount</a></li>
                    <li><a th:href="@{/welcome}" th:each="tag :${picture.tags}"
                           th:text="'#'+${tag}+'&nbsp;&nbsp;'">tag</a></li>
                </ul>
                <!--
                 <li><a th:href="@{/welcome}" th:text="作者昵称${picture.user.name}">authorName</a></li>
                <li><a th:href="@{/welcome}" th:text="作者ID${picture.user.id}">authorId</a></li>
                <li>
                    <a th:href="@{/pictureTags}">pictureTags:</a>
                    <ul th:each="tag :${picture.tags}">
                        <li><a th:href="@{/pictureTag}" th:text="|#|${tag}">pictureTag</a></li>
                    </ul>
                </li>
                <li th:text="Zan-2333">pictureZan</li>
                <li th:text="collect-2333">pictureCollect</li>
                <li th:text="view2333">pictureView</li>
                <li th:text="|createTime|${picture.createdTime}">pictureCreateTime</li>
                -->
            </div>
        </div>


    </div>
</div>
</body>
</html>