<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<div class="all">
    <div class="topNav">

        <ul class="navList" title="Navigation">
            <li><a href="/index">随机</a></li>
            <li><a href="/daily">每日</a></li>
            <li class="/weekly">每周</li>
            <li><a href="/monthly">每月</a></li>
            <li><a href="/hotTags">热门标签</a></li>
            <li><a href="/r18">让我康康!</a></li>
            <li class="searchLi">
                <form action="/search" class="searchForm">
                    <input id="searchBox" name="q" type="search" value="" placeholder="搜索关键字" aria-label="搜索">
                </form>
                <div class="aboutNyaxs">Nyaxs</div>
            </li>

        </ul>

    </div>
    <div class="content" th:each="picture :${pictures}">

        <div class="pictureShow">
            <div class="pictureArea"><a th:href="@{/index}"><img width="706px" th:src="@{|${picture.pictureId}.jpg|}"
                                                                 src=""/></a></div>
        </div>


        <div class="pictureInfo">
            <div>
                <ul class="picInfoList">
                    <li><a th:href="@{/welcome}" th:text="|作者名字:${picture.authorName}|">userName</a></li>
                    <li><a th:href="@{/welcome}" th:text="|作者ID:${picture.authorId}|">userId</a></li>
                    <li><a th:href="@{/welcome}" th:text="|标题:${picture.pictureTitle}">pictureTitle</a></li>
                    <li><a th:href="@{/welcome}" th:text="|作品ID:${picture.pictureId}|">pictureId</a></li>
                    <li><a th:href="@{/welcome}" th:text="|投稿时间:${picture.createdTime}|">pictureTime</a></li>
                    <li><a th:href="@{/welcome}" th:text="|赞:${picture.scoredCount}|">zanCount</a></li>
                    <li><a th:href="@{/welcome}" th:text="|收藏:${picture.collectCount}|">favoriteCount</a></li>
                    <li><a th:href="@{/welcome}" th:text="|浏览:${picture.viewCount}|">viewCount</a></li>
                    <li><a th:href="@{/welcome}" th:each="tag :${picture.tags}"
                           th:text="'#'+${tag}+'&nbsp;&nbsp;'">tag</a></li>
                </ul>

            </div>
        </div>


    </div>

</div>
</body>
</html>